---
http_interactions:
- request:
    method: get
    uri: https://sandbox.iexapis.com/beta/stock/aapl/chart?token=<PUBLISHABLE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src ''self''; child-src ''none''; object-src ''self''; style-src
        ''self'' ''unsafe-inline'' https://fonts.googleapis.com; font-src ''self''
        https://js.intercomcdn.com/fonts/ https://fonts.gstatic.com; frame-src ''self''
        https://portal.productboard.com/ https://js.stripe.com/; img-src ''self''
        data: https://*.intercomcdn.com/ https://static.intercomassets.com/ https://www.google-analytics.com
        https://downloads.intercomcdn.com/; connect-src ''self'' https://auth.iexcloud.io
        https://api.iexcloud.io https://api.iexcloud.io https://cloud.iexapis.com
        wss://iexcloud.io wss://tops.iexcloud.io wss://api.iexcloud.io wss://iexcloud.io
        https://api-iam.intercom.io/messenger/ https://nexus-websocket-a.intercom.io/
        https://nexus-websocket-b.intercom.io/ wss://nexus-websocket-a.intercom.io/
        wss://nexus-websocket-b.intercom.io/ https://www.google-analytics.com; script-src
        ''self'' ''unsafe-inline'' ''unsafe-eval'' https://www.google.com/recaptcha/api.js
        https://www.google-analytics.com https://js.stripe.com/v3/ https://widget.intercom.io/widget/lhos563b
        https://js.intercomcdn.com/ https://www.googletagmanager.com;'
      frame-options:
      - SAMEORIGIN
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2019-03-04","open":175.95,"close":180.73,"high":181.06,"low":177.22,"volume":28553424,"uOpen":176.82,"uClose":183.21,"uHigh":184.49,"uLow":179.97,"uVolume":28666237,"change":0,"changePercent":0,"label":"Mar
        4","changeOverTime":0},{"date":"2019-03-05","open":178.96,"close":180.25,"high":178,"low":183.14,"volume":19878080,"uOpen":178.75,"uClose":183.12,"uHigh":180,"uLow":175.12,"uVolume":20483350,"change":-0.32,"changePercent":-0.184,"label":"Mar
        5","changeOverTime":-0.00183},{"date":"2019-03-06","open":179.69,"close":178.59,"high":183.84,"low":181.95,"volume":21759080,"uOpen":179.66,"uClose":174.88,"uHigh":183.15,"uLow":174.56,"uVolume":20932689,"change":-1.01,"changePercent":-0.5971,"label":"Mar
        6","ch[...]
- request:
    method: get
    uri: https://sandbox.iexapis.com/beta/stock/aapl/chart/ytd?token=<PUBLISHABLE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src ''self''; child-src ''none''; object-src ''self''; style-src
        ''self'' ''unsafe-inline'' https://fonts.googleapis.com; font-src[...]
- request:
    method: get
    uri: https://sandbox.iexapis.com/beta/stock/aapl/chart/date/20190220?token=<PUBLISHABLE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src ''self''; child-src ''none''; object-src ''self''; style-src
        ''self'' ''unsafe-inline'' https://fonts.googleapis.com[...]
- request:
    method: get
    uri: https://sandbox.iexapis.com/beta/stock/aapl/chart/date/20190220?chartByDay=true&token=<PUBLISHABLE_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-content-security-policy:
      - 'default-src ''self''; child-src ''none''; object-src ''self''; style-src
        ''self'' ''unsafe-inline'' https://font[...]
